In [13]:
import pandas as pd

df = pd.DataFrame({'Food':['맥도날드', '버거킹', '맘스터치'],

                             'price':[7000, 6000, 5000],

                             'rating':['s', 'a', 'b']})

df

   Food  price rating
0  맥도날드   7000      s
1   버거킹   6000      a
2  맘스터치   5000      b

In [15]:
df.to_csv("D:/GC/test1.csv")

In [17]:
features = pd.read_csv("D:/GC/test1.csv", index_col = 0)

In [18]:
features

   Food  price rating
0  맥도날드   7000      s
1   버거킹   6000      a
2  맘스터치   5000      b